NEXT_PUBLIC_SPACETIMEDB_URL=
NEXT_PUBLIC_SPACETIMEDB_MODULE=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_DEEPGRAM_MODEL=
NEXT_PUBLIC_DEEPGRAM_LANGUAGE=
NEXT_PUBLIC_DEEPGRAM_API_KEY=
GEMINI_MODEL=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
MONGODB_URI=
JWT_SECRET=
GEMINI_API_KEY=