NEXT_PUBLIC_SPACETIMEDB_URL=wss://maincloud.spacetimedb.com
NEXT_PUBLIC_SPACETIMEDB_MODULE=pulse
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_DEEPGRAM_MODEL=nova-2
NEXT_PUBLIC_DEEPGRAM_LANGUAGE=en-US
NEXT_PUBLIC_DEEPGRAM_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-flash-preview
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=EXAVITQu4vr4xnSDxMaL
MONGODB_URI=
JWT_SECRET=